parameters:
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#Call to an undefined static method#"
        - "#Call to an undefined method#"
        - "#Class App\\Exceptions\\Handler not found.#"
